#root {
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.colored-table tr:nth-child(2n) {
  background-color: #333;
}

.colored-table tr:nth-child(2n + 1) {
  background-color: #444;
}
